.orb-7 {
  width: 280px;
  height: 280px;
  top: 15%;
  left: 40%;
  background: radial-gradient(
    circle,
    rgba(138, 43, 226, 0.6) 0%,     
    rgba(138, 43, 226, 0.3) 40%,
    rgba(138, 43, 226, 0.15) 60%,
    transparent 90%
  );
  animation-name: pulse;
  animation-duration: 12s;
  animation-delay: 5s;
}

.orb-8 {
  width: 320px;
  height: 320px;
  top: 75%;
  left: 50%;
  background: radial-gradient(
    circle,
    rgba(32, 178, 170, 0.6) 0%,     
    rgba(32, 178, 170, 0.3) 45%,
    rgba(32, 178, 170, 0.15) 65%,
    transparent 95%
  );
  animation-name: float-slow;
  animation-delay: 7s;
}

.content-wrapper {
  @apply relative z-10;
}

@media (max-width: 1024px) {
  .orb-1, .orb-2 {
    width: 400px;
    height: 400px;
  }
  
  .orb-3, .orb-6 {
    width: 300px;
    height: 300px;
  }
  
  .orb-4, .orb-5, .orb-7, .orb-8 {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .orb-1, .orb-2 {
    width: 300px;
    height: 300px;
  }
  
  .orb-3, .orb-6 {
    width: 200px;
    height: 200px;
  }
  
  .orb-4, .orb-5, .orb-7, .orb-8 {
    width: 150px;
    height: 150px;
  }
  
  .orb-1 { top: 5%; left: 2%; }
  .orb-2 { top: 3%; left: 60%; }
  .orb-3 { top: 60%; left: 5%; }
  .orb-6 { top: 80%; left: 15%; }
}