@import 'tailwindcss';
@import './components/button.css';
@import './components/input.css';

@layer base {
  html {
    box-sizing: border-box;
    height: screen;
    margin: auto;
    background-color: black;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    color: white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter';
    font-weight: 400;
  }
  .colored-text {
    background: linear-gradient(
      87.87deg,
      #ff0077 -12.34%,
      #a66fff 12.82%,
      #009af1 47.56%,
      #00e8ff 96.73%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
  }
  

  .colored-border {
    background: radial-gradient(
      circle,
      rgba(43, 0, 79, 1) 0%,
      rgba(0, 99, 145, 1) 58%,
      rgb(19, 111, 112) 100%
    );
  }

  .colored-bg--offer {
    background: #007582;
    background: radial-gradient(
      circle,
      rgb(0, 67, 75) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .home {
    background: #2b004f;
    background: radial-gradient(
      circle,
      rgba(37, 0, 79, 1) 0%,
      rgba(0, 0, 0, 1) 77%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}


@theme {
  --background-primary: rgba(18, 0, 32, 1);
}
