@import 'tailwindcss';
@import './components/button.css';

@layer base {
  html {
    box-sizing: border-box;
    height: screen;
    margin: auto;
    background-color: black;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    color: white;
  }
  .gradient-text {
    background: linear-gradient(
      90deg,
      rgba(204, 13, 214, 1) 0%,
      rgba(123, 26, 201, 1) 25%,
      rgba(86, 196, 204, 1) 50%,
      rgba(62, 86, 176, 1) 75%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
  }
}
